{% extends 'base.html' %}

{% block contents %}

<h2>Welcome,</h2>
<br>
<a href="/database/add/"> ADD STUDENT </a>
<br>
<br>
<a href="/database/search/"> SEARCH STUDENT </a>
<br>
<h3>List of Students</h3>

    {% if students %}
        <ul>
            {% for student in students %}
                 
                    {{student.st_roll}} ) {{student.st_name}} 
                    <a href="/database/{{student.id}}/details/"> Details </a>
                    <a href="/database/{{student.id}}/edit/"> Edit </a>
                    <a href="/database/{{student.id}}/delete/"> Delete </a>
                    <br>
            {% endfor %}
        </ul>
    {% else %}
        <p> There is no student registered </p>
    {% endif %}

{% endblock contents %}